<!-- ======= About Section ======= -->
<section id="about" class="about bgcolor">
    <div class="container" data-aos="fade-up">

    

      <div class="row g-4 g-lg-5 align-items-center" data-aos="fade-up" data-aos-delay="200">

        <div class="col-lg-5">
          <div class="about-img">
            <img src="assets/images/intro-1-1.png" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-7">
          <div class="section-header text-start">
            <h2>Welcome to Capabuild.</h2>
                  </div>
          <p class="">We’re a group of experienced professionals with 20+ years of experience across Engineering, IT and Product Development, Marketing and Brand Building. At Capabuild, we aim to help the manufacturing sector find skilled labour that can drive change and implement futuristic technologies in India.</p>
          <button type="button" class="btn btcolor">More details</button>
         

          </div>

        </div>

      </div>

    
  </section><!-- End About Section -->

