<!-- ======= Hero Section ======= -->
<section id="hero" class="hero carousel  carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

    <div class="carousel-item active">
      <div class="container">
        <div class="row justify-content-center gy-6">
  
          <div class="col-lg-12 col-md-12">
            <img src="assets/images/Future-engineering_2-1.png" alt="" class="img-fluid img">
          </div>
  
          <div class="col-lg-9 text-center">
            <h2>Building the next generation of engineers</h2>
            <p>Master state-of-the-art skills to become future-ready.</p>
            <a href="#featured-services" class="btn-get-started scrollto ">Get Started</a>
          </div>
  
        </div>
      </div>
    </div><!-- End Carousel Item -->
  
    <div class="carousel-item">
      <div class="container">
        <div class="row justify-content-center gy-6">
  
          <div class="col-lg-12 col-md-12">
            <img src="assets/images/Future-engineering.png" alt="" class="img-fluid img">
          </div>
  
          <div class="col-lg-9 text-center">
            <h2>You pick the skill. <br> We help you master it. </h2>
            <p>Master new-age engineering skills from industry professionals.</p>
            <a href="#featured-services" class="btn-get-started scrollto ">Get Started</a>
          </div>
  
        </div>
      </div>
    </div><!-- End Carousel Item -->
  
    
  
    <a class="carousel-control-prev" href="#hero" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
    </a>
  
    <a class="carousel-control-next" href="#hero" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
    </a>
  
    <ol class="carousel-indicators"></ol>
  
  </section><!-- End Hero Section -->