<app-header></app-header>
<app-hero-section></app-hero-section>

<main id="main">

  <app-featured-service></app-featured-service>
  <app-about-section></app-about-section>
  <app-clients-section></app-clients-section>
  <app-call-to-action></app-call-to-action>
  <app-on-focus-action></app-on-focus-action>
  <app-features-section></app-features-section>
  <app-services-section></app-services-section>
  <app-testimonial-section></app-testimonial-section>
  <app-pricing-section></app-pricing-section>
  <app-faq-section></app-faq-section>
  <app-portfolio-section></app-portfolio-section>
  <app-team-section></app-team-section>
  <app-blogs-section></app-blogs-section>
  <app-contact-section></app-contact-section>
</main><!-- End #main -->
<app-footer></app-footer>
