 <!-- ======= Call To Action Section ======= -->
 <section id="cta" class="cta mt-3">
    <div class="container" data-aos="zoom-out">

      <div class="row g-5">

        <div class="col-lg-8 col-md-6 content d-flex flex-column justify-content-center order-last order-md-first">
          <h3>How do we do this?</h3>
          <p>Capabuild is launching a B-learning platform that can bridge the gap between industry needs and available skill sets, through industry-oriented learning.<br><br>

            With the help of subject matter experts and an advisory board composed of the who’s who from across sectors, the Capabuild team has built a well-rounded and industry relevant curriculum. Our experts will train students on advanced technology tools used in the manufacturing industry with the help of cloud platforms.<br><br>
            
            Sectors like Electric and Smart Future Mobility, Robotics, Additive Manufacturing, Smart Manufacturing, UAV etc. will be given special focus</p>
          <a class="cta-btn align-self-start" href="#">More details</a>
        </div>

        <div class="col-lg-4 col-md-6 order-first order-md-last d-flex align-items-center">
          <div class="img">
            <img src="assets/img/cta.jpg" alt="" class="img-fluid">
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Call To Action Section -->
